body {
  font-family: Arial, sans-serif;
  background-color: #ededed;
  color: #222;
  margin: 40px;
}

h1 {
    color: #0066cc;
}

h2 {
    color: #444;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}
nav {
  background-color: #e0e0e0;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

nav a {
  color: #0066cc;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}